.loader {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-logo {
  font-size: clamp(4rem, 10vw, 7rem);
}

.loader-logo .i {
  color: var(--primary);
}

.loader-logo .t {
  color: var(--purple);
}
