.navbar {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;

  position: fixed;
  top: 0;
  left: 0;

  background: rgba(255,255,255,0.9);
  backdrop-filter: blur(10px);

  z-index: 1000;
}

/* Logo */
.logo {
  font-size: 1.7rem;
  cursor: pointer;
}

.logo .i {
  color: var(--primary);
}

.logo .full {
  color: var(--purple);
}

/* Links */
.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--primary);
}

/* Button */
.nav-btn {
  background: var(--primary);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 70px;
    right: -100%;

    flex-direction: column;
    background: white;

    width: 100%;
    height: calc(100vh - 70px);

    justify-content: center;

    transition: 0.3s;
  }

  .nav-links.open {
    right: 0;
  }
}
